body
{
background-image:url('images/background.png');
background-repeat:repeat;
margin: 0;
padding: 0;
}

#headerBar {
    border-bottom: 1px solid #707070;
    height: 65px;
    background: #121212;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

#header ul li a {
display: block;
padding: 15px;
font-size: 20px;
text-align: center;
font-family: kozuka Gothic Pr6N EL;
text-transform: uppercase;
text-decoration: none;
color: #eee;
border-right: 1px solid #1D1D1D;
}

#Wrapper {
    width: 1200px;
    height: auto;
    margin: 100px;
}

span#menu
{
position:absolute;
top:0px;
right:5px;
}


#nav
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
font-family:"kozuka Gothic Pr6N EL";
font-size:20;
}

li{
float:right;
display:inline;
}

#nav li.active a {
color: #fff;
background: #353535;
}

a:link,a:visited{
display:block;
width:120px;
font-weight:regular;
color:#00b4ff;
background-color:#121212;
text-align:center;
padding:15px;
text-decoration:none;
text-transform:uppercase;
}

a:hover,a:active{
background-color:#353535;
color:#fff;
}


p#text{
font-family:"kozuka Gothic Pr6N EL";
font-size:15;
color:#eee;
}

#footerBar {
    border-top: 1px solid #707070;
    height: 150px;
    background: #121212;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 5
}

p#footer{
font-family:"Calibri";
margin-top: 2em;
margin-bottom: 0em;
font-size:14;
color:#c4c4c4;
text-align:center;
}


/* GLOBAL ORANGE BUTTON *****************************/
a.GlobalOrangeButton span {
background: transparent url('images/button_left_black.png') no-repeat 0 0;
display: block;
line-height: 20px;
padding: 7px 0 5px 18px;
color: #fff;
}

a.GlobalOrangeButton {
background: transparent url('images/button_right_black.png') no-repeat top right;
display: block;
float: left;
height: 17px;
margin-right: 6px;
padding-right: 20px;
padding-top: 0px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

a.GlobalOrangeButton:hover span {
background-position: 0 -34px; color: #fff;
}

a.GlobalOrangeButton:hover {
background-position: right -34px;
}