body
{
background-image:url('background.png');
background-repeat:repeat;
margin: 0;
padding: 0;
}

#headerBar {
    height: 65px;
    background: #121212;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

#Wrapper {
    width: 1200px;
    height: auto;
    margin: 100px;
}

span#menu
{
position:absolute;
top:0px;
right:5px;
}


#nav
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
font-family:"kozuka Gothic Pr6N EL";
font-size:20;
}

li{
float:right;
display:inline;
}

a:link,a:visited{
display:block;
width:120px;
font-weight:regular;
color:#00b4ff;
background-color:#121212;
text-align:center;
padding:15px;
text-decoration:none;
text-transform:uppercase;
}

a:hover,a:active{
background-color:#252525;
color:#fff;
}

#nav{
font-family:"kozuka Gothic Pr6N EL";
font-size:20;
}

p#text{
font-family:"kozuka Gothic Pr6N EL";
font-size:15;
color:#eee;
}

#footerBar {
    height: 150px;
    background: #121212;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 5
}

p#footer{
font-family:"Calibri";
margin-top: 0em;
  margin-bottom: 2em;
font-size:14;
color:#d7d7d7;
text-align:center;
}

li#fl
{
font-family:"Calibri";
font-weight:regular;
font-size:14;
color:#d7d7d7;
text-align:center;
}
